/* ------------------------------------- Chat App CSS ---------------------------------- */

.chatapp_body {
  background-color: var(--dark-color);
  text-align: center;
}

.chatapp_app {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  max-height: 82.5vh;
  height: 100%;
  overflow: auto;
}

.chatapp_header {
  margin-top: 0rem;
  color: white;
}

.chatapp_header-btn {
  border-radius: 100px;
  padding: 5px;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

h6 {
  color: white;
}

.username-container {
  margin-right: -1rem;
  text-align: right;
  margin-bottom: -1rem;
  /* background-color: #313b4b; */
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
  padding-right: 2rem;
  text-align: right;
}

.received {
  /* padding-left: 1rem; */
  text-align: left;
}

.chatapp_message-list {
  height: screen;
  overflow-y: scroll;
}
.sent p {
  color: white;
  background: var(--hover-color);
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.chatapp-submit_button {
  background-color: var(--brand-color); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

.chatapp_app-form {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  height: 10vh;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgbvar(--mid-color);
  /* color: white; */
  outline: none;
  border: none;
  padding: 0 10px;
}

.avatar_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/* ------------------------------------------------------------------------------------- */
